.wrapper {
    max-width: 450px;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.display {
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
    background-color: #ffffff;
}

.controlButtons {
    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;
}

.controlButton {
    text-align: center;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.redColor{
    background-color: #f80202;
}

.turquoiseColor {
    background-color: #0fb3d9;
}