.wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid red;
    padding: 15px;
}

.navLink {
    background: #322c93;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    text-decoration: none;
}

.navLink:hover {
    background: #93311b;
    color: yellow;
}